<% img1 = @join_us.images[0] %>
<% img2 = @join_us.images[1] %>

<div class="join-us-area section-padding">
    <div class="container">
        <div class="row align-items-center">
        <div class="col-xl-4 col-lg-5 col-md-10">
            <div class="joing-details">
            <div class="section-tittle">
                <h2><%= @join_us.title %></h2>
            </div>
            <p><%= @join_us.content %></p>
            <a href="<%= @join_us.link %>" class="btn about-btn"><%= @join_us.link_text %></a>
            </div>
        </div>

        <div class="offset-xl-1 col-xl-4 col-lg-4 col-md-7 col-sm-7">
            <div class="joning-img">
            <%= image_tag url_for(img1), :class => "w-100" %>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5">
            <div class="joning-img">
            <%= image_tag url_for(img2), :class => "w-100" %>
            </div>
        </div>
        </div>
    </div>
</div>