<div class="services-area1 section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-11">
        <div class="section-tittle text-center mb-60">
          <h2>News Feeds</h2>
        </div>
      </div>
    </div>
    <div class="services1-active">
      <% @newsfeeds.each do |article| %>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <!-- Single -->
          <div class="properties pb-30">
            <div class="properties-card">
              <div class="properties-img">
                <a href="/news_feed/<%= article.id %>"><%= image_tag url_for(article.image) %></a>
              </div>
              <div class="wrap-wrapper">
                <div class="properties-caption">
                  <h3><a href="/news_feed/<%= article.id %>"><%= article.title %></a></h3>
                  <p><%= article.content %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>