<%= provide(:title, 'Home') %>
<main>
<!-- slider Area Start-->
<%= render 'home_main_slider' %>
<!-- slider Area End-->

<!-- Services Start 01 -->
<%= render 'news_feeds' %>
<!-- Services End -->

<!-- About -->
<%= render "about" %>
<!-- About Area End-->

  <!-- Our Services Start -->
  <div class="our-services section-padding position-relative">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-7 col-lg-8 col-md-11">
          <!-- Section Tittle -->
          <div class="section-tittle text-center mb-70">
            <h2>We serve for children</h2>
            <p>Do you want to make a real difference in the lives of children? Join us and help serve our community! Together, we can create lasting change for generations to come.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-services text-center mb-30">
            <div class="services-icon">
              <%= image_tag "icon/services1.svg" %>
            </div>
            <div class="services-cap">
              <h5><a href="#">Pure Food & Water</a></h5>
              <p>Let's make a difference in the lives of children around the world by providing them with access to pure food and water! Clean, safe nutrition is essential for healthy growth and development. Join us in our mission to give every child a chance at a better future.</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-services text-center mb-30">
            <div class="services-icon">
              <%= image_tag "icon/services2.svg" %>
            </div>
            <div class="services-cap">
              <h5><a href="#">Health & Medicine</a></h5>
              <p>Parents, it's time to take our children's health seriously! Research shows that investing in preventative care for kids can help reduce the risk of chronic illnesses later on. Make sure your little ones are getting regular check-ups and vaccinations so they can stay healthy and strong for years to come!</p>
            </div>
          </div>
        </div>
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6">
          <div class="single-services text-center mb-30">
            <div class="services-icon">
              <%= image_tag "icon/services1.svg" %>
            </div>
            <div class="services-cap">
              <h5><a href="#">Education</a></h5>
              <p> Help give kids a brighter future! Education is the key to success and we must ensure that all children have access to quality education. Investing in our children's education today will lead to better opportunities for them tomorrow.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Services End -->

<!-- Emergency care start -->
<%= render 'emargency_care' %>
<!-- Emergency care End -->

<!-- Join with Us Start-->
<%= render "join_us" %>
<!-- Join with Us End-->
</main>